.parent-video{
    position:absolute;
    top:72px;
    height: calc(100% - 72px);
    width: 100%;


}
.hero-video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    
    background-color: rgba(0, 0, 0, 0.5);

}

.content{
    position:absolute;
   
    top:40%;
    left:10%;
    

}



