.main-review-container{
    background-color: black;
}
.review-box-1{
    width:86%;
    overflow:hidden;
}
.reviewbox{
    overflow: hidden;
    width:calc(400px * 15);
    animation: scroll 80s linear infinite;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-400px*15));
    }
}